  <!-- Preloader -->
<div class="loader">
    <!-- Preloader inner -->
    <div class="loader-inner">
        <svg width="120" height="220" viewbox="0 0 100 100" class="loading-spinner" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle class="spinner" cx="50" cy="50" r="21" fill="#13181d" stroke-width="2" />
        </svg>
    </div>
    <!-- End preloader inner -->
</div>
<!-- End preloader-->
    <!--Hero section-->
    <section class="hero">
        <!--Main slider-->
        <div class="main-slider slider flexslider">
            <ul class="slides">
                <li>
                    <div class="background-img overlay zoom">
                        <img src="~/Images/image1.jpg" alt="">
                    </div>
                    <!--Container-->
                    <div class="container hero-content">
                        <!--Row-->
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <!--Inner hero-->
                                <div class="inner-hero">
                                    <div class="back-rect"></div>
                                    <h1 class="large text-success uppercase mb-0">Music Store</h1>
                                    <h5 class="mb-0 text-success uppercase">Music Store For all Genre and Ages</h5>
                                    <div class="front-rect"></div>
                                </div>
                            </div>
                            <!--End row-->
                        </div>
                        <!--End container-->
                    </div>
                    <!--End inner hero-->
                </li>
                <li>
                    <div class="background-img overlay zoom">
                        <img src="~/Images/" alt="">
                    </div>
                    <!--Container-->
                    <div class="container hero-content">
                        <!--Row-->
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <!--Inner hero-->
                                <div class="inner-hero">
                                    <h1 class="large text-success uppercase mb-0">limitless</h1>
                                    <h5 class="mb-0 text-success uppercase">New Album Available Everywhere</h5>
                                    <a class="video-play-but popup-youtube" href="https://www.youtube.com/watch?v=Gc2en3nHxA4"></a>
                                </div>
                            </div>
                            <!--End row-->
                        </div>
                        <!--End container-->
                    </div>
                    <!--End inner hero-->
                </li>
            </ul>
        </div>
        <!--End main slider-->
        </section>
